body {
  line-height: 1.5;
  font-size: large;
  background: #202020;
  color: #cacaca;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  display: flex;
  flex-wrap: wrap;
  max-width: 800px;
  margin: 0 auto;
}
h1 {
  margin-top: 0;
  font-size: x-large;
}
.chunk {
  padding: 1.5em;
}
a {
  display: inline-block;
  text-decoration: none;
  color: #757575;
}
a:hover {
  text-decoration: underline dotted;
  color: #fce517;
}
label {
  padding-top: 1.5em;
  padding-left: 1.5em;
  block-size: fit-content;
}
label:hover {
  cursor: pointer;
}
input[type="checkbox"] {
  position: absolute;
  display: none;
}
input[type="checkbox"]:checked ~ .chunk {
  font-family: "Wingdings";
}
