body {
  background-color: #fcfbf6;
  font-size: large;
}
a {
  color: darkgreen;
}
a:hover {
  text-decoration: wavy underline;
}
pre {
  font-size: 2.5pt;
}
summary:hover {
  cursor: pointer;
  color: darkgreen;
  text-decoration: wavy underline;
}
