@font-face {
  font-family: LaTeXTypeBeat;
  src: url(font.ttf);
}
body {
  background: #ffe0c5;
  color: #2a2622;
  font-family: LaTeXTypeBeat, serif;
  font-size: large;
  line-height: 1.5;
  max-width: 800px;
  margin: 0 auto;
  padding: 1em 1em 0 1em;
}
a {
  color: blue;
  font-weight: 900;
  display: inline-block;
  text-decoration: none;
}
a:hover {
  text-decoration: wavy underline;
}
ul {
  list-style: none;
  padding: 0;
}
ul li {
  display: inline;
}
img {
  border-radius: 0.25em;
}

a .hoverer {
  display: none;
}

a:hover .nonhoverer {
  display: none;
}

a:hover .hoverer {
  display: inline;
}
